<div *ngIf="data">
  <label>Title:
    <input [(ngModel)]="data.title" placeholder="title"/>
  </label>
  <br><br>
  <label>Designation:
    <input [(ngModel)]="data.designation" placeholder="designation"/>
  </label>
  <br><br>
  <label>Place:
    <input [(ngModel)]="data.place" placeholder="place"/>
  </label>

  <!-- <label>Designation:
    <input [(ngModel)]="data.designation" placeholder="title"/>
  </label>
  <br>
  <label>Place:
    <Place [(ngModel)]="data.place" placeholder="title"/>
  </label> -->
  <br>
</div>